<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <style>
    .money {
      font-size: 40px !important;
    }
    .card{
      min-width: 100px !important;
      min-height: 200px !important;
    }

  </style>
</head>

<body>
  <ul id="slide-out" class="side-nav">
    <li>
      <div class="user-view">
        <div class="background">
          <img src="">
        </div>
        <a href="#!user"><img class="circle" src="http://wpidiots.com/html/writic/red-writic-template/css/img/demo-images/avatar1.jpg"></a>
        <a href="#!name"><span class="black-text name">John Doe</span></a>
        <a href="#!email"><span class="black-text email">jdandturk@gmail.com</span></a>
      </div>
    </li>
    <li><a class="waves-effect" href="#!"><i class="material-icons cyan-text text-darken2">insert_chart</i>Grafik Analisis</a></li>
    <li><a class="waves-effect" href="#!"><i class="material-icons  green-text">add_circle</i>Tambah Pemasukan</a></li>
    <li><a class="waves-effect" href="#!"><i class="material-icons red-text">remove_circle</i>Tambah Pengeluaran</a></li>
    <li><a class="waves-effect" href="#!"><i class="material-icons teal-text text-darken2">view_list</i>Data keuangan</a></li>
    <li><a class="waves-effect" href="#!"><i class="material-icons brown-text">help</i>Help</a></li>
    <li>
      <div class="divider"></div>
    </li>
    <li><a class="subheader">Support Us</a></li>
    <li><a class="waves-effect" href="#!"><i class="material-icons light-green-text">monetization_on</i>Donate Now</a></li>
  </ul>



  <div class="wrapper">
    <nav class = 'nav-extended'>
      <div class="nav-wrapper green lighten-1">
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons ">menu</i></a>
        <a href="#" class="brand-logo right">Baby.co<i class="money material-icons">attach_money</i></a>
      </div>
      <div class="nav-content green darken-1">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#test1">Produk Susu</a></li>
        <li class="tab"><a class="active" href="#test2">Peliharaan</a></li>
        <li class="tab"><a href="#test4">Baju Bayi</a></li>
      </ul>
    </div>
    </nav>

    <!-- Page Layout here -->
    <div class="row container">
      <div class="row"></div>

      <div class="row">
        <div class="col s3 m3">
          <div class="card medium hoverable sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="image/dog2.jpeg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Anjing Penurut<i class="material-icons right">more_vert</i></span>
              <a class="btn-floating btn waves-effect waves-light green"><i class="material-icons">add_shopping_cart</i></a> <br>Rp 150.000,00
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Anjing Penurut<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col s3 m3">
          <div class="card medium hoverable sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="image/dog2.jpeg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Anjing Penurut<i class="material-icons right">more_vert</i></span>
              <a class="btn-floating btn waves-effect waves-light green"><i class="material-icons">add_shopping_cart</i></a> <br>Rp 150.000,00
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Anjing Penurut<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col s3 m3">
          <div class="card medium hoverable sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="image/dog2.jpeg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Anjing Penurut<i class="material-icons right">more_vert</i></span>
              <a class="btn-floating btn waves-effect waves-light green"><i class="material-icons">add_shopping_cart</i></a><br> Rp 150.000,00
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Anjing Penurut<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col s3 m3">
          <div class="card medium hoverable sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="image/dog2.jpeg">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Anjing Penurut<i class="material-icons right">more_vert</i></span>
              <a class="btn-floating btn waves-effect waves-light green"><i class="material-icons">add_shopping_cart</i></a><br> Rp 150.000,00
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Anjing Penurut<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">search</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>



    </div>
  </div>
  </div>



  </div>

</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>

<script>
</script>
<script type="text/javascript">
  // Initialize collapse button
  $(".button-collapse").sideNav();
  // Initialize collapsible (uncomment the line below if you use the dropdown variation)
  //$('.collapsible').collapsible();
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15, // Creates a dropdown of 15 years to control year,
    today: 'Today',
    clear: 'Clear',
    close: 'Ok',
    closeOnSelect: false // Close upon selecting a date,
  });
</script>

</html>
